{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <form method="post" class="form-center">
    <h4 class="text-center">Login</h4>

    {% if error %}
      <div class="alert alert-danger alert-dismissible fade show mt-3">
        Usernama/password salah.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <p class="mt-3">Tidak punya akun? <a href="{% url 'register' %}">Daftar</a>.</p>
  </form>
{% endblock %}

{% block css %}
  .form-center {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
  }
{% endblock %}
