{% extends 'jobs/base.html' %}

{% block title %} Software Engineer Intern {% endblock %}

{% block content %}
        <form>
          <div class="row">
            <div class="col-md-3">
              <label for="keyword">Kata kunci</label>
            </div>
            <div class="col-md-3">
              <label for="location">Lokasi</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <input type="text" class="form-control" id="keyword" placeholder="Kata kunci">
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="form-control" id="location" placeholder="Lokasi">
            </div>
            <div class="form-group col-md-3">
              <button type="submit" class="btn btn-primary ">Cari</button>
            </div>
          </div>
        </form>

        <hr class="my-4">

        <div class="row">
          <div class="col-md-8">
            <h1>Software Engineer Intern</h1>
            <div class="lead">PT. Kuda - Surabaya</div>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor facilisis lorem, non gravida magna tincidunt sed. Sed interdum dui dui, quis finibus ligula pretium a. Integer porta eget lacus sit amet aliquam.</p>

            <p>Donec vitae imperdiet urna. Maecenas ac nibh pellentesque, fringilla lectus hendrerit, pretium nunc.</p> 

            <p>Phasellus tempus tincidunt erat id efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eu odio dui.Praesent tincidunt felis ornare diam faucibus, nec luctus velit eleifend. Mauris justo massa, aliquam ac lacus non, gravida mattis leo. In sodales eu quam sed tempor. Aliquam congue aliquet nunc, eu vehicula nibh gravida quis.</p>

            <p>Sed eu sapien in justo dictum malesuada. Donec dapibus leo quis urna posuere, vitae ornare tortor efficitur. Proin rhoncus ultrices neque eu accumsan. Nullam metus purus, vehicula a fermentum ac, viverra sit amet augue.</p>
            <div class="mb-4">1 jam yang lalu</div>
            <a href="#" class="btn btn-primary btn-lg">Lamar Pekerjaan</a>
          </div>
        </div>
{% endblock %}
