{% extends 'base.html' %}

{% block title %} Cari Pekerjaan {% endblock %}

{% block content %}
  <h1 class="display-4 mb-4">Cari Pekerjaan</h1>

  <form action="/jobs">
    <div class="row">
      <div class="col-md-3">
        <label for="keyword">Kata kunci</label>
      </div>
      <div class="col-md-3">
        <label for="location">Lokasi</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" name="keyword" class="form-control" id="keyword" placeholder="Kata kunci" value="{{ keyword }}">
      </div>
      <div class="form-group col-md-3">
        <input type="text" name="location" class="form-control" id="location" placeholder="Lokasi" value="{{ location }}">
      </div>
      <div class="form-group col-md-1">
        <button type="submit" class="btn btn-primary">Cari</button>
      </div>
    </div>
  </form>

  <hr class="my-4">

  <div class="row">
    <div class="col-md-8">
      <p>Menemukan {{ jobs|length }} pekerjaan</p>

      {% for job in jobs %}
        <div class="my-4">
          <div><a href="{% url 'job' id=job.id %}">{{ job.title }}</a></div>
          <div>{{ job.location }}</div>
          <p class="my-2">{{ job.description|slice:'0:250' }}...</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
